
crewai
crewai-tools
openai~=1.83.0
langchain
langchain-groq
python-dotenv
requests
beautifulsoup4
lxml
newspaper3k
validators
numpy
scipy
pandas
matplotlib
seaborn
scikit-learn
scikit-image
scikit-optimize